@charset "ISO-8859-1";


*
{
	margin:0;
	padding:0;
	font-family: Heavitas;
}

body
{
	background-color:white;
}

.centerPage
{
	position:fixed;
	top:30vh;
	width:10vw;
	left:45vw;
	text-alight:center;
	height: auto;
}

.bigSize
{
	font-size:10em;
}

.red
{
	color:red;
}